# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Cache
.cache/
.vite/
.eslintcache

# TypeScript
*.tsbuildinfo

# IDEs / Editors
.idea/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Local files
*.local